<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatwell Make the world tastier place</title>
</head>
<body>
    <header id="main-header">
        <div id="logo"><a href="/">Eatwell</a></div>
        <nav>
            <ul>
                <li class="nav-item"><a href="/restaurant">Browse Restarant</a></li>
                <li class="nav-item"><a href="/recommend">Share a Restarant</a></li>
                <li class="nav-item"><a href="/about">About Eatwell</a></li>
            </ul>
        </nav>
    </header>
    <main>Recommend Restarant</main>
</body>

</html>